@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.content-main {
  height: 90vh;
  width: 100vw;
  background-color: #FFFBDB;
  display: flex;
  flex-direction: column;
  font-family: 'Righteous', cursive;
}

.content-form-div {
  display: flex;
  height: 5vh;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #625834;
  min-height: 50px;
}

.content-form-div input {
  width: 20%;
  height: 45%;
  border-radius: 10px;
  border: #625834;
  background-color: #FFFBDB;
  color: #30362F;
  font-family: 'Righteous', cursive;
}

.content-form-div button {
  min-width: 10%;
  height: 50%;
  border-radius: 10px;
  border: #625834;
  font-family: 'Pacifico', cursive;
  font-size: 100%;
  background-color: #FFFBDB;
  color: #30362F;
}

.task-parent-div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.task-div {
  height: 10%;
  width: 70%;
  background-color: #625834;
  border-radius: 20px;
  color:#FFFBDB;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px; 
}

.task-div > div {
  width: 90%;
}

.task-div-title {
  font-family: 'Righteous', cursive;
  height: 30%;
  font-size: 150%;
  margin-top: 5px;
}

.task-info {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}

.task-desc, .task-date {
  grid-column: 1;
}

.task-info > button {
  grid-column: 2;
  grid-row: 2;
  border-radius: 20px;
  color:#FFFBDB;
  background-color: #30362F;
  font-family: 'Righteous', cursive;
  width: 50%;
  height: 100%;
  font-size: 100%;
  min-width: 100px;
}

.priority {
  grid-column: 2;
  grid-row: 1;
  width: 50%;
  height: 100%;
  border-radius: 20px;
  background-color: rgb(196, 78, 78);
  font-size: 100%;
  text-align: center;
  border: 2px solid black;
  min-width: 100px;
}

.priority-none {
  grid-column: 2;
  grid-row: 1;
  width: 50%;
  min-width: 100px;
  height: 100%;
  border-radius: 20px;
  background-color: #30362F;
  text-align: center;
  border: 2px solid black;
}